@model Online_Cybersecurity_System.Models.Quiz

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this?</h3>

<h4>Quiz</h4>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
            <div class="card card-registration my-4">
                <div class="row g-0">
                    <div class="row register-form">
                        @Html.ValidationSummary(true)
                        <div class="col-md-12">
                            <div class="col-sm-12">
                                <div class="form-group  mb-4">
                                    @Html.LabelFor(q => q.id, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.id, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(q => q.CategoryId, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.CategoryId, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(q => q.description, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.description, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(q => q.difficulty, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.difficulty, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(q => q.choiceA, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.choiceA, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(q => q.choiceB, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.choiceB, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(q => q.choiceC, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.choiceC, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(q => q.choiceD, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.choiceD, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(q => q.correct_answer, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.correct_answer, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(q => q.quizStatus, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(q => q.quizStatus, new { data_upper = "" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.createDate, new { @class = "control-label col-sm-4" })
                                    @Html.DisplayFor(a => a.createDate, new { data_upper = "", @Value = DateTime.Now.ToShortDateString() })
                                </div>
                            </div>
                            @using (Html.BeginForm())
                            {
                                <div class="d-flex justify-content-end pt-3">
                                    <button class="btn btn-warning btn-lg ms-2">Back</button>
                                    <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                                    <input type="submit" value="Delete" class="btn btn-default" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>